fotter
	section.wrapper
		.content.flex
			.links.flex_item.left-text
				a.footer_p.footer_link(href="https://www.vodafone.de/impressum.html" target="_blank") Impressum
				br
				a.footer_p.footer_link(href="https://www.vodafone.de/impressum.html" target="_blank") Rechtliches
			p.footer_p.copyright.flex_item.left-text
				| Copyright &copy; 2018 Vodafone 
				br
				| GmbH