fotter
	section.wrapper
		.content
			.icons-social.full_width
				a.social_link(href="https://www.vodafone.de/privat/apps-und-fun/meinvodafone.html" target="_blank")
					img.icon(src= logo)

				a.social_link(href="https://www.facebook.com/vodafoneDE" target="_blank")
					img.icon(src= facebook_icon)

				a.social_link(href="https://plus.google.com/+VodafoneDeutschland" target="_blank")
					img.icon(src= gplus_icon)

				a.social_link(href="https://twitter.com/vodafone_de" target="_blank")
					img.icon(src= twitter_icon)

				a.social_link(href="https://www.youtube.com/user/vodafonedeutschland" target="_blank")
					img.icon(src= youtube_icon)

				a.social_link(href="https://forum.vodafone.de/" target="_blank")
					img.icon(src= social_community_icon)

	hr


	section.wrapper
		.content
			.
				a.footer_p.footer_link(href="https://www.vodafone.de/impressum.html" target="_blank") Impressum
				a.footer_p.footer_link(href="https://www.vodafone.de/unternehmen/datenschutz-privatsphaere.html" target="_blank") Datenschutz
				a.footer_p.footer_link(href="https://www.vodafone.de/" target="_blank") vodafone.de

	section.wrapper
		.content
			p.footer_p.copyright
				| Copyright &copy; 2017 Vodafone Kabel Deutshland GmbH