// Place global variables, mixins, etc. here.



@Full_width: 100%;
@full_height: 100%;
@page_bg_color: #0099cb;


// Font size and main font color
@base: 16px;
@text_color: #FFFFFF;
// Diffirent page color 
@header_color: ;
@sub_text_color: ;
@price_color: #c6c1c5;

@header_font_size: 15pt;
@sub_text_font_size: @header_font_size / 1.2;

// logo 
@logo_width: 80pt;
@logo_display: inline-block;;





// Subscribe Button / Confirm button
@btn_bg_color: #cc0098;
@btn_color: #ffffff;
@btn_border_color: #875e75;
@btn_font_size: 19pt;
@btn_lineHeight: @btn_font_size * 2.5 ;
@btn_border-radius: 50pt;



// Back ground images
// Assets images ROOT
@img_root: "http://du-camp.mondiamediamena.com/assets/img/";
// BG paths
@mymixtapes_oman_bg_img: "mymixtapes/oman/bg.jpg";
@apple_store: "logos/apple_store_whit.png";
@google_play_store: "logos/google_play_white.png";



/*
    Margins and offset


space-top-{value from 5 : 50} add this class to html tags 
EX. space-top-10  ----  space-bottom-10
Create Less loop for margins from value 5px to 50px and 5px every iteration 
USE ".pace-top-/value/"( value == 5px || value += 5px) maximum 50px

*/

.mrgins-valus-top(50);
.mrgins-valus-top(@n, @ipx: 5px, @i: 5) when (@i =< @n) {
  .space-top-@{i} {
    margin-top: (@ipx);
  }
  .mrgins-valus-top(@n, (@ipx + 5px), (@i + 5));
}


.mrgins-valus-bottom(50);
.mrgins-valus-bottom(@n, @ipx: 5px, @i: 5) when (@i =< @n) {
  .space-bottom-@{i} {
    margin-bottom: (@ipx);
  }
  .mrgins-valus-bottom(@n, (@ipx + 5px), (@i + 5));
}