- var page_lang = "fr"
- var page_name = "lp";
- var club_name = "";

- var pageTitle = Jira_ticket_number + "-" + page_name + "-1-d-" + page_lang;

//- Games box daily
//- - var subscriptionTypeId = "";

- var bg_format = ".jpg"
- var bg_img = images_path + page_name + bg_format;
- var bg_img_large = images_path + page_name + "@2x" + bg_format;
- var alt_bg_img = club_name + " background image";