section.wrapper.mg-container
	h2.E-readers-only image section
	#img-overlay
	include ../partials/img/img


main#main-content

	section.wrapper
		h2.E-readers-only context section
		.content
			.staticText
				h4 Vodacom games! Service Terms & Conditions
				p
					b Vodacom games!
					|  is an all you can eat subscription to a games service whereby a subscribed consumer can access, download and play as many games as they like at the set fee. By making use of this service you acknowledge that you have read, understood and accepted these Terms and Conditions. Subscribe to our "Vodacom games!" daily subscription and get unlimited downloads that you can use to access and / or download contents thereof. Game availability is device dependent. The first day (24 hours) is free to initial subscribers. The daily cost of the service is R1.00 a day recurring and will be charged to your bill (postpaid users) or your prepaid balance (prepaid and hybrid users). The General Conditions below and the Vodacom Privacy Policy shall also apply
				p 1. Services
				p
					| Once you have completed the registration process and accepted this terms and conditions, you may access the subscription services listed herein and download content to your mobile device via internet (Vodacom Network, Wi-Fi) from the Vodacom games! Portal subject to these terms and conditions. The services and content is intended for Vodacom subscribers. The following services are available for use: Club Vodacom games!. The service will be activated only at the time when the user requests it. You can register for the service by clicking the "SUBSCRIBE" (or its equivalent) button on the Vodacom games! Portal detail page of content available within the Service Club Vodacom games! and / or microsites current promotions. Mondia Media can modify or remove the content provided as part of the Services at any time without notice.
				p 2. Costs and Payment:
				p
					| There is a daily service cost for Vodacom Club games of R1.00 (VAT included) which grants you unlimited downloads daily within the games catalogue (Vodacom Club games). Costs will be charged to your bill (postpaid users) or to your Balance Prepaid (prepaid users) and at the price indicated on the Vodacom games! Portal. There will be no refunds for partial use of the service. This service does not use data for browsing, downloading of games, however normal network data charges will apply for playing various online games on a mobile network. In addition, games that require additional features to be downloaded, may prompt you to either use mobile data (usual network rates will apply) or Wi-Fi to download.
				p 3. Duration and Termination of Service
				p
					| The service will remain active, unless otherwise specified by the User, which may unsubscribe at any time by: Going to the “My Subscriptions” section that can be found in the menu when clicking the grill icon from left top corner of the screen. In My Subscriptions, simply click the “Cancel” option and your subscription will be deactivated. Vodacom reserves the right to cancel your subscription at any time.
				h4
					b Conditions of use of Contents
				p
					| The Content(s) that you acquire and the corresponding related rights are valuable intellectual property of their respective owners and may be used only on your cell phone in which they have been offered either as a musical tone, screen saver, wallpaper or game to play solely on their cell phones and personal effects. It is strictly forbidden to transmit such Content from your cell phone, regardless of the means or purpose of the transmission. Also, copying, redistribution or other use of the Content to that for which they have been offered is expressly prohibited.
				p
					| The content offered by using this service at any time means an offer or sale via "online" users of it.
				p
					| Due to the different features and technical capabilities of various devices used to access the service, the melodies heard whilst using the service may vary depending on the device being used.
				p
					| * Henceforth the word "content" refers to the services that the user can download to your phone and are published on the portal Vodacom games!
				h4 1. GENERAL CONDITIONS
				p
					| These general conditions (hereinafter the "General Conditions") govern the use of Vodacom games! Portal (hereinafter, the "Vodacom games! Portal") and apply to all users of the Vodacom games! Portal (hereinafter, the "user(s)") and the use of the service is subject to all notices, use regulations and instructions made known to User(s) in the Vodacom games! Portal.
				h4 2. PURPOSE
				p
					| Through the Vodacom games! Portal, Vodacom provides users with access to games and use of various services and content related to games made available by its service providers or by third party users of the Portal Vodacom games! and / or third party service providers and content (hereinafter, the "Services"). Vodacom reserves the right to unilaterally modify, at any time and without notice, the presentation and configuration of Vodacom games! Portal as well as the services and conditions required to use these Services.
				h4 3. CONDITIONS OF ACCESS AND USE OF THE PORTAL Vodacom games!
				p
					| 3.1 Browsing the Vodacom games! Service is free for users and requires no prior subscription or registration. Nevertheless, to play the games within the service can be subject to subscription or registration.
				p
					| 3.2 The User agrees to use the Vodacom games! Portal and services in good faith, in accordance with all applicable laws, these General Conditions and with the moral and generally accepted good practices, especially the rules of online behavior and public order. The User agrees to refrain from using the Vodacom games! Portal and services for illegal purposes, contrary to any applicable laws, harm the rights and interests of others, or in any way damage, disable Terms, overburden or impair the Vodacom games! Portal and Services or prevent the normal use or enjoyment thereof by Users.
				p
					| 3.3 The User shall abstain from obtaining or attempting to obtain information, messages, graphics, pictures, sound files and / or images, photographs, recordings, software and generally any kind of material accessible through Portal Vodacom games! or Services (hereinafter, the "Content") using means or other than that, depending on the case, that has been made available for this purpose or procedures that have been indicated to this effect on web pages where the Contents are or, in general, those normally used on the Internet for this purpose provided they do not pose a risk of damage or disable the Vodacom games! Portal, Services and / or Content.
				p
					| 3.4 The User agrees to use the Content in good faith, diligently, correctly and legally and, in particular, undertakes to refrain from:
				p
					| (A) using the Content for purposes or effects contrary to law, morals and good customs generally accepted, especially online behavior standards or public order;
				p
					| (B) reproduce or copy, distribute, allow public access through any means of public communication, transform or modify the Content, unless you have obtained the authorization of the corresponding rights or it is legally permitted;
				p
					| (C) remove, ignore or manipulate the "copyright" and other data identifying the rights of Mondia Media, Vodacom or its owners included in the content;
				p
					| (D) Use the contents and, in particular, information of any kind obtained through the Vodacom games! Portal or Services to send advertising, communications for direct marketing purposes or any other commercial purpose, unsolicited messages addressed a plurality of people regardless of their purpose, and to refrain from selling or otherwise disclose such information;
				p
					| (E) generally violate in any way the rights of intellectual property and / or industrial Mondia Media and third parties whose contents are found staying in the Vodacom games! Portal.
				h4 4. PRIVACY
				p
					| 4.1 We will collect your mobile number and preferred games categories (‘the personal information”) to be able to provide the Service.
				p
					| 4.2 We will share and make worldwide transfers of your personal information on our corporate systems, to other entities, agents, subcontractors in the Vodacom/Vodafone group companies or other relevant business partners involved in assisting us to provide this service to you(i.e. Mondia Media). When sharing and making such transfers we will ensure that the necessary protections are in place to safeguard your personal information transfer and sharing under or in connection with these Terms of Service and our Privacy Policy (
					a(href='http://www.vodacom.co.za/vodacom/terms/privacy-policy') http://www.vodacom.co.za/vodacom/terms/privacy-policy
					| ).
				p
					| 4.3 We will store your personal information for as long as we are legally required to. If there is no legal requirement, we will only store the collected information for as long as we need it.
				h4
					| 5. USE OF Vodacom games! SERVICES AND CONTENT IS THE SOLE RESPONSIBILITY OF THE USER
				p
					| The User is aware and voluntarily accepts that the use of Vodacom games!, the Services and the Content therein is your sole and exclusive responsibility.
				h4 6. EXCLUSION OF WARRANTIES AND LIABILITY
				p
					| 6.1 Vodacom and Mondia Media do not guarantee the legality, reliability and usefulness of the Content. Vodacom and Mondia Media are not liable for damages of any kind arising from the transmission, dissemination, storage, availability, reception, obtaining or access to the content, including, but not exclusively, for damages and losses arising from
				p
					| (A) The breach of the law, morals and good manners generally accepted, especially the rules of behavior in internet or public order as a result of the transmission, dissemination, storage, availability, reception, obtaining or access to the content;
				p
					| (B) The infringement of intellectual and industrial property, the secrets business commitments contractual of any kind of rights to honor to privacy personal and family and the image of the people of property rights and all other nature belonging to a third party as a result of the transmission, dissemination, storage, availability, reception, obtaining or access to the contents;
				p
					| (C) The performance of acts of unfair competition and illegal advertising as a result of the transmission, dissemination, storage, availability, reception, obtaining or access to the contents;
				p
					| (D) The lack of truth, accuracy, completeness, relevance and / or currency of the contents;
				p  (E) Any inadequacies or low expectations generated by the contents;
				p
					| (F) The breach, delay in compliance, defective or termination for any reason of the obligations contracted by third parties and contracts made with third parties through or with access to the contents;
				p
					| (G) The defects of any kind of the contents transmitted, disseminated, stored, made available or otherwise transmitted or made available, received, obtained or accessed through THE Portal Vodacom games! or services. 5.2. Exclusion of guarantees and liability for the use of the PORTAL Vodacom games!, Services and Content by Users. Mondia Media has no obligation and does not control the use of Users of the Website Vodacom games!, Services and contents. In particular, Mondia Media does not guarantee that users use the Vodacom games! Portal, Services and Content in accordance with these Terms and Conditions, or do so in a diligent and prudent manner. Mondia Media has no obligation to check and verify the identity of users or the accuracy, validity, completeness and / or authenticity of the data that users provide about themselves to other users. Mondia Media is not liable for damages of any kind arising from the use of the services and content by users.
				h4 6. LICENSING
				p
					| Vodacom and its service/content providers do not grant any license or authorization of any kind on its industrial and intellectual property or any other property or right related to the Vodacom games! Portal, Services or Content.
				h4 7. TERM AND TERMINATION
				p
					| The provision of the Vodacom games! Portal and other services is, in principle, indefinite. Vodacom, however, is authorized to terminate or suspend provision of the Portal service Vodacom games! and / or any of the Services at any time. When reasonably possible, prior notice of the termination or suspension of the service of the portal Vodacom games! will be given.
				p
					| These Terms and Conditions of Use enter into force as soon as they are published on the Site or notified to the User. By purchasing content or subscribing to the Service, you agree to comply with this Agreement and acknowledge that you have contracted with the approval of the owner of the line. If you disagree with the terms of this Agreement, do not proceed to access or use the Services or Content. Mondia Media may change the terms of this Agreement at any time by giving notice within the Site. Content refers to all games available at this site. It refers to the portal site Vodacom games!, which is subject to this Agreement.
				p
					b Disclaimer
					|  By these Terms and Conditions, Mondia Media Group, its subsidiaries and/or affiliates, inform Users of the Vodacom games! Portal, that there may be available technical link devices (such as, among others, links, banners, buttons), directories and search tools that allow them to access web pages belonging to third parties (hereinafter the "linked sites"). The installation of these links on the Vodacom games! Portal is limited to facilitate users to search for and access information available from the linked sites on the Internet, and does not presuppose any kind of link or association between Vodacom, Mondia Media Group, their subsidiaries and/or affiliates, and operators of the linked sites. Vodacom and Mondia Media Group, their subsidiaries and/or affiliates do not control, approve nor do the services, information, data, files, products and any kind of material on linked sites themselves. The user therefore should exercise caution in evaluating and using the services, information, data, files, products and any kind of material on linked sites. Vodacom and Mondia Media Group, their subsidiaries and / or affiliates do not warrant or assume any responsibility for damages of any kind that may be caused by:
				p A. The operation, availability, accessibility or continuity of the linked sites.
				p
					| B. The maintenance of services, information, data, files, products and any kind of material on linked sites.
				p C. The obligations and existing offers on the linked sites.
				p
					| By using this site, you acknowledge and agree that Vodacom and Mondia Media Group, their subsidiaries and/or affiliates do not guarantee that the linked sites or information provided by third parties, are useful for the conduct of any particular activity. By using this site, you acknowledge and agree that Vodacom and Mondia Media Group, its subsidiaries and/or affiliates are excluded from any liability for damages that may have been caused by the accuracy of the information or quality of services contained or offered by third parties or that of the linked sites, or arising in connection to this site, both access to this page and the use made of the information contained therein are the sole responsibility of the user.
				p Security:
				p
					| By using the Vodacom games! Portal, you acknowledge and agree that Vodacom and Mondia Media Group, their subsidiaries and/or affiliates do not guarantee the security of the linked sites, in particular, that users can effectively access the various web pages being represented by the linked sites made available to third party content. By using this site, you acknowledge and agree that Vodacom and Mondia Media Group, their subsidiaries and/or affiliates, are excluded from any liability for damages of any kind that may be caused by the lack of security of the sites linked.
				p Quality:
				p
					| By using this site, you acknowledge and agree that Vodacom and Mondia Media Group, their subsidiaries and/or affiliates do not control and do not guarantee the absence of viruses in the content of the linked sites, nor the absence of other elements that could produce alterations in their computer systems or electronic documents and files stored on their computer systems.
				p Intellectual property:
				p
					| By using the Vodacom games! Portal, you acknowledge and agree that Mondia Media Group, their subsidiaries and/or affiliates, are excluded from any liability that may be caused by unauthorized use of trademarks or other intellectual property rights by or on linked sites. Similarly, any references made on this page to any product, service, process, linked site, hypertext or any other information on which brands and/or domains signs, trade names or names used in manufacturing, supplier, etc. that are owned by others, at no time constitute or imply endorsement or recommendation by Vodacom and Mondia Media Group, their subsidiaries and/or affiliates and in no case is Mondia Media Group, their subsidiaries and/or affiliates own or are responsible for them.
				p
					| Page elements are likely to provide the information contained on the website as drawings, designs, sounds, videos, texts, photographs, etc. Vodacom and Mondia Media Group, their subsidiaries and/or affiliates, have contracted to third parties to conduct studies and investigations, as well as drawings, designs, sounds, videos, texts, or photographs, which are displayed on the page. Vodacom and Mondia Media Group, their subsidiaries and / or affiliates, warn that they do not have full ownership of these elements nor do they own all of the development information contained therein, therefore some of the text, graphics, links and / or the content of some articles may not be accurate or updated. Vodacom and Mondia Media Group, their subsidiaries and / or affiliates, are therefore not responsible for any information or content obtained from linked sites.
				p


	section.wrapper
		h2.E-readers-only button section
		.content
			a.sub-button(href="lp.html") Go back