section.wrapper.wrapper__background-img
	h2.E-readers-only image section
	.content.no-padding#swiper
		include ../partials/img/img-swiper


main#main-content

	section.wrapper
		h2.E-readers-only header section
		.content
			include ../partials/header/header-lp

	section.wrapper
		h2.E-readers-only button section
		.content
			include ../partials/button/btn-lp

	section.wrapper
		h2.E-readers-only price section
		.content
			include ../partials/price