.wrapper.mg-container
	h2.E-readers-only image section
	#img-overlay
	include ../partials/img/img

main#main-content

	section.wrapper.success
		h2.E-readers-only header section
		.content
			include ../partials/header/header-error

	section.wrapper
		h2.E-readers-only button section
		.content
			include ../partials/button/btn-error

	section.wrapper
		h2.E-readers-only price section
		.content
			include ../partials/sub-text/sub-text-error