section.wrapper.mg-container
	h2.E-readers-only image section
	#img-overlay
	include ../partials/img/img


main#main-content

	section.wrapper.success
		h2.E-readers-only header section
		.content#success-message
			include ../partials/header/header-ty

	section.wrapper
		h2.E-readers-only text section
		.content
			include ../partials/sub-text/sub-text-ty

	section.wrapper
		h2.E-readers-only button section
		.content
			include ../partials/button/btn-ty
