.wrapper.mg-container
	h2.E-readers-only image section
	.content.no-padding
	#img-overlay
	include ../partials/img/img



main#main-content


	section.wrapper
		h2.E-readers-only header section
		.content
			include ../partials/header/header-wifi


	section.wrapper
		h2.E-readers-only text section
		.content
			include ../partials/sub-text/sub-text-wifi

	.wrapper
		h2.E-readers-only button section
		.content
			include ../partials/button/btn-wifi