- var bg_img = "http://du-camp.mondiamediamena.com/assets/img/DMC-11/bg.jpg";
- var alt_bg_img = "iCames Background Image"


- var h1 = "enjoy top games";
- var sub_text = "with zero data charges!";
- var price = "only 700 Fils/week";
- var sb_button = "subscribe now!";



#container
  .image_backdrop
    img(src=bg_img)
  .inner-botton
    button.btn(onclick="subscribe();") #{sb_button}
    h1.header.space-top-10.space-bottom-5 #{h1}
    p.sub-text.space-bottom-90 #{sub_text}
    .disclaimer
      p.space-top-50.space-bottom-10 Terms and condition apply