.lang
	a(href='#') العربية
#defaultWrapper.wrapper
	// Variable movie options
	.content
		img.logo(src='http://du-camp.mondiamediamena.com/assets/img/coolishCool/logo.png', alt='')
		button.subbtn SUBSCRIBE NOW
		.price 5 AED per Week!
		.termstxt
			| You will be subscribed to 'MyMixtapes'.Your account would be debited with AED 5 per week. Subscription would be automatically renewed until you unsubscribe from the service. To continue, click on subscribe button above.
// end wrapper
// start WiFi wrapper
#wifiwrapper.wrapper(style='display: none;')
	.content
		img.logo(src='http://du-camp.mondiamediamena.com/assets/img/coolishCool/logo.png', alt='')
		.inner-Bottom
			button.subbtn
				| DOWNLOAD NOW!
				img.dlbtn(src='http://du-camp.mondiamediamena.com/assets/img/coolishCool/dl_btn.png')
			.slogan
				| Unlimited premium Games
			.slogan2
				| To download on your mobile phone
			.termstxt
				| When you subscribe to this service, you agree on koolishcool terms and condition. You can unsubscribe anytime by visiting My Account. To use this service, you need to be older than 18 years old, or have received permission from your parents or the ones who pays for your mobile bills.
