include variables.pug

doctype html
html(lang="en")

	include head/head.pug
	|
	|
	include head/utils.pug
	|
	|	
	body
		include content/du/du_3_wrappers.pug
		|
		|
		include scripts/scripts.pug
		|
		//- include scripts/checkMe_script.pug