doctype html
html(lang="en")

	include head/head.pug
	|
	|
	|
	|
	include utils/utils.pug
	|
	|
	|	
	body
		include content/content.pug
		|
		|
		include scripts/scripts.pug
		|
		include scripts/checkMe_script.pug