- var pageTitle = "Du Viral Videos";

//- Logos
- var du_logo_text = "http://du-camp.mondiamediamena.com/assets/img/logos/du_white_text.png";
- var alt_du_logo_text = "Du Logo";

//- Background image
- var bg_img = "http://du-camp.mondiamediamena.com/assets/img/du/Du_Viral_Videos/bg.jpg";
- var alt_bg_img = "Mymixtapes Background Image"


- var google_play_store_white = "http://du-camp.mondiamediamena.com/assets/img/logos/google_play_white.png";
- var apple_store_white = "http://du-camp.mondiamediamena.com/assets/img/logos/apple_store_whit.png";


//- text under logo
- var logo_helper = "";

//- Main text
- var header = "enjoy yhe best videos ever";

//- subtext -new line-
- var sub_text = "with no data charges";

//- price section
- var price = "only AED 2 / day";

//- what will be in subscribe button
- var subscribe_button = "subscribe";

//- what will be in converm button
- var confirm_opt_btn = "Confirm";

