include ../PATHES/paths.pug

//-
	********************************************************
	********************************************************
	**************  Variables Linked to HTML  **************
	********************************************************
	********************************************************

- var service = "الصفحة";

//- Landing page lp.html
//- Main text
- var header_1 = "3 أيام مجانا";
- var orangeWord = "<span style='color:#ff6a00;'>" + service + " </span>";
- var header_2 = "لعب غير محدود وتحميل مع";
- var header_3 = "";
- var header_4 = "";

//- subtext -new line-
- var sub_text_1 = "";
- var sub_text_2 = "";
- var sub_text_3 = "";

- var already_sub_header_1 = "You are already subscribed";
- var already_sub_header_2 = "We will redirect you to";
- var already_sub_header_3 = club_name;

//- what will be in subscribe button
- var subscribe_button = "اشترك الآن";
- var subscribe_button_confirm = "تأكيد";
//- what will be in converm button
- var confirm_opt_btn = "";

- var enter_your_number = ""
- var confirm_pin = ""

//- price section
- var price = "سعر الاشتراك: 1.9 دينار \ الإسبوع قابلة للتجديد تلقائيًا";

- var disclaimer_1 = "This is a weekly recurring R5.00 subscription that allows you to stream all the videos within the chosen channel."
- var disclaimer_2 = "* Clicking the button it means you 'Buy/Subscribe now' and you agree to the "
- var disclaimer_3 = "* Clicking the button it means you 'Buy/Subscribe now' and you agree to the "
- var disclaimer_4 = "* Clicking the button it means you 'Buy/Subscribe now' and you agree to the "
- var disclaimer_link = "Terms & Conditions."

//- WIFI page wifi.html
- var header_1_wifi = "يرجى تفعيل بيانات هاتفك المحمول"
- var sub_text_1_wifi = "قم بإيقاف تشغيل WIFI وتشغيل بيانات الجوال. عند الانتهاء ، انقر فوق الزر تحديث";
- var wifi_button = "تحديث الصفحة"

//- Success page ty.html
- var header_1_ty = "مبروك"
//- - var sub_text_1_ty = "لقد اشتركت بنجاح " + service + "! البدء في البحث غير محدود " + service + " الآن! فقط انقر فوق الزر أدناه."
- var sub_text_2_ty = "* " + service + "! مجاني للتنقل ، لا حاجة للبيانات!"
- var success_button = "الذهاب إلى " + service;

//- Error page error.html
- var header_1_error = "عذرًا ، لقد حدث خطأ ، يرجى النقر على الزر التالي للوصول " + service;
- var sub_text_1_error = ""
- var sub_text_2_error = ""
- var error_button = "Actualiser";