//- picture.backdrop-image
    source(media='(max-device-width: 320px)', srcset= bg_img)
    source(media='(max-device-width: 413px)', srcset= bg_img)
    //- source(media='(min-width: 500px)', srcset= bg_img_large)
    img(src= bg_img_large, alt= alt_bg_img )
img.backdrop-image(src= bg_img, alt= alt_bg_img)