//- Please DO NOT modify


|
|<!-- build:js inline -->
|
|<!--Scripts-->
|
|
<script type="text/javascript" src="dist/app.js"></script>
|
|
|<!--/Scripts-->
|
|<!-- /build -->
|
|<!-- build:remove -->
|
|
<script src="//localhost:35729/livereload.js"></script>
|
|
|<!-- /build -->
|
|